/* OVERALL */
body {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    background-color: grey;
}

section {
    padding: 20px;
    margin: auto;
}


/* ABOUT ME */


/* PROJECTS */


img {
    width: 310px;
    height: 210px;
}




/* CONTACT FORM */

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: left;
    margin: auto;
    padding: 20px;
}

input,
textarea {
    padding: 10px;
    margin: 10px;
}

button {
    width: 30%;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
    position: relative;
    color:

}

button:hover {
    color: #255784;
    background: #FF00AE;
    box-shadow: 0 0 10px #FF00AE, 0 0 40px #FF00AE, 0 0 80px #FF00AE;
    transition-delay: 1s;
}

label {
    padding-left: 10px;
}

.error-msg {
    display: none;
}



@media (min-width: 700px) {

    body {
        width: 80%;
        margin: auto;
    }

    .two {
        display: flex;
        flex-direction: column;
    }

    .first,
    .second,
    .third {
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin: 10px;
        border: .5px solid;
        width: auto;
    }

    form {
        width: 40%;
    }
}