@font-face {
    font-family: "Abril";
    src: url("../fonts/Abril_Fatface/AbrilFatface-Regular.ttf"), format(truetype);
}

@font-face {
    font-family: "Mono";
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf), format(truetype);
}

@font-face {
    font-family: "Rajdhani";
    src: url(../fonts/Rajdhani/Rajdhani-Regular.ttf), format(truetype);
}
:root {
    --braon-coffe: #7A4C28;
    --baige-light: #FBC69E;
    --dark-nude: #C77B42;
    --light-orange: #FA9B52;
    --hard-braon: #8E3F01;
    --white: #fff;
    --black: #000;
}
body {
    width: 100%;
    object-fit: cover;
    margin: 0;
    background-color: var(--baige-light);
    color: var(--dark-nude);
}

.logo {
    font-family: "Abril";
    font-size: 2em;
    letter-spacing: .2em;
    text-align: center;
    color: var(--braon-coffe);
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    margin: auto;
    text-align: center;
    color: var(--dark-nude)
}


section {
    padding: 20px;
    margin: auto;
}

h1, h2 {
    font-family: "Abril";
    letter-spacing: .3em;
    color: var(--hard-braon);
    margin-left: 10px;
}

a {
    color: white;
    text-decoration: none;
}

h3:hover {
    background-color: var(--dark-nude);
    color: var(--light-orange);
}

p {
    font-family: "Rajdhani";
    padding: 10px;
    letter-spacing: .1em;
    color: var(--black)
}

.icon {
    width: 80px;
    height: 80px;
}

.three div {
    display: flex;
    justify-content: center;
}
.about {
    position: relative;
}

.about div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile {
   
    right: 15px;
    width: 15%;
    border-radius: 50%;
}

/* ABOUT ME */

.one {
    border: 1px solid var(--dark-nude);
    padding: 10px;
    margin: 10px auto;
    border-radius: 2px;
    background-color: var(--dark-nude);
    color: var(--black);
}

.arrow {
    width: 20px;
    padding: 2px;
    margin: auto;
}

/* PROJECTS */

.first, 
.second,
.third {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark-nude);
    padding: 10px;
    margin: 10px auto;
    justify-content: center;
    text-align: center;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: 550px;
    width: 300px;
    background-color: var(--dark-nude);
    color: var(--braon-coffe);
}

.homepage {
    width: 210px;
    height: 110px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3 {
    border: 1px solid var(--baige-light);
    padding: 5px 10px;
    margin: 10px;
    
}


/* CONTACT FORM */

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: left;
    margin: 10px;
    padding: 20px;
}

input,
textarea {
    padding: 10px;
    margin: 10px;
    font-family: "Mono";
    border: red;
    margin-bottom: 0;
}

button {
    width: 30%;
    justify-content: center;
    margin: 5px auto;
    padding: 5px;
    font-family: "Rajdhani";
    font-size: 1em;
    text-transform: uppercase;
    background-color: var(--white);
    border: none;
    margin-top: 10px;
}

button:hover {
    background-color: var(--braon-coffe);
    color: var(--baige-light);
}

label {
    padding-left: 10px;
    font-family: "Mono";
    letter-spacing: .2cap;
    margin-top: 5px;
}

.error-msg,
.success-msg {
    font-family: "Mono";
    padding: 5px;
    margin: 5px;
    margin-top: 0;
    display: none;
}

.error-msg {
    color: red;
}

.success-msg {
    color: green;
}

.icons p {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--braon-coffe);
    margin: 5px;
    font-weight: 600;
    border-radius: 5px;
    background-color: var(--dark-nude);
}

.icons p:hover {
    background-color: var(--light-orange);
}

.icons div {
    display: grid;
}




@media (min-width: 700px) {

    body {
        width: 70%;
        margin: auto;
    }

    .two {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
    }

    .first,
    .second,
    .third {
        padding: 20px;
        margin: 10px;
    }

    form {
        width: 40%;
    }

}