@font-face {
    font-family: "Abril";
    src: url("../fonts/Abril_Fatface/AbrilFatface-Regular.ttf"), format(truetype);
}

@font-face {
    font-family: "Mono";
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf), format(truetype);
}

@font-face {
    font-family: "Rajdhani";
    src: url(../fonts/Rajdhani/Rajdhani-Regular.ttf), format(truetype);
}
:root {
    --braon-coffe: #7A4C28;
    --baige-light: #FBC69E;
    --dark-nude: #C77B42;
    --white: #fff;
    --black: #000;
}
body {
    width: 100%;
    object-fit: cover;
    background-color: var(--baige-light);
    color: var(--dark-nude);
}

.logo {
    font-family: "Abril";
    font-size: 2em;
    letter-spacing: .2em;
    color: var(--braon-coffe);
}

section {
    padding: 20px;
    margin: auto;
}

h1, h2 {
    font-family: "Abril";
    letter-spacing: .3em;
    color: var(--braon-coffe)
}

a {
    color: white;
    text-decoration: none;

}

p {
    font-family: "Rajdhani";
    padding: 10px;
    letter-spacing: .1em;
}

.icons img {
    width: 80px;
    height: 80px;
}

.three div {
    display: flex;
    justify-content: center;
}

/* ABOUT ME */


/* PROJECTS */

.first, 
.second,
.third {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark-nude);
    padding: 10px;
    margin: 10px auto;
    justify-content: center;
    text-align: center;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: 550px;
    width: 300px;
    background-color: var(--braon-coffe);
    color: var(--baige-light);
}

img {
    width: 210px;
    height: 110px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h3 {
    border: 1px solid var(--baige-light);
    padding: 5px 10px;
    margin: 10px;
    
}




/* CONTACT FORM */

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: left;
    margin: 10px;
    padding: 20px;
}

input,
textarea {
    padding: 10px;
    margin: 10px;
    font-family: "Mono";
    border: red;
}

button {
    width: 30%;
    justify-content: center;
    margin: 5px auto;
    padding: 5px;
    font-family: "Rajdhani";
    font-size: 1em;
    text-transform: uppercase;
    background-color: var(--white);
    border: none;
}

button:hover {
    background-color: var(--braon-coffe);
    color: var(--baige-light);
}

label {
    padding-left: 10px;
    font-family: "Mono";
    letter-spacing: .2cap;
}

.error-msg {
    display: none;
}



@media (min-width: 700px) {

    body {
        width: 80%;
        margin: auto;
    }

    .two {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .first,
    .second,
    .third {
        padding: 20px;
        margin: 10px;
        width: 400px;
        height: 550px;
    }

    form {
        width: 40%;
    }
}